amqp==5.3.1
appdirs==1.4.4
bidict==0.23.1
billiard==4.2.1
blinker==1.9.0
Brotli==1.1.0
celery==5.4.0
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
dnspython==2.7.0
eventlet==0.38.2
Flask==3.1.0
Flask-Assets==2.1.0
Flask-Compress==1.17
Flask-JSON==0.4.0
flask-marshmallow==1.2.1
Flask-Minify==0.48
Flask-SocketIO==5.5.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
htmlmin==0.1.12
htmlminf==0.1.13
humanize==4.11.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
jsmin==3.0.1
kombu==5.4.2
lesscpy==0.15.1
libsass==0.23.0
Markdown==3.7
MarkupSafe==3.0.2
marshmallow==3.23.2
marshmallow-sqlalchemy==1.1.0
monotonic==1.6
numpy==2.2.1
packaging==24.2
ply==3.11
prompt_toolkit==3.0.48
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyparsing==3.2.0
pyScss==1.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.1
python-socketio==5.12.0
pytz==2024.2
PyYAML==6.0.2
rcssmin==1.2.0
redis==5.2.1
requests==2.32.3
scipy==1.14.1
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
webassets==2.0
Werkzeug==3.1.3
wsproto==1.2.0
xlrd==2.0.1
xxhash==3.5.0
zipp==3.21.0
zstandard==0.23.0
